html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.app-container {
    width: 100%;
    max-width: 800px;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.note-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
}